.App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.counter {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.countForm {
    width: 240px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.changedForm {
    width: 240px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.errorCountForm {
    width: 240px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.errorInput {
    background-color: red;
}
